mixin jhlite-module-parameters(select, parameters)
  .jhipster-module-parameters(class=`${select} ${parameters}`)
    .jhipster-module-parameters--type(class=`${select} ${parameters}`)
      .jhipster-module-parameters--type-title(class=`${select} ${parameters}`) Mandatory
      .jhipster-module-parameters--type-stats(class=`${select} ${parameters}`) 3 / 3
    .jhipster-module-parameters--parameter(class=`${select} ${parameters}`)
      .jhipster-module-parameters--parameter-key(class=`${select} ${parameters}`) packageName
      .jhipster-module-parameters--parameter-value(class=`${select} ${parameters}`)
    .jhipster-module-parameters--parameter(class=`${select} ${parameters}`)
      .jhipster-module-parameters--parameter-key(class=`${select} ${parameters}`) projectName
      .jhipster-module-parameters--parameter-value(class=`${select} ${parameters}`)
    .jhipster-module-parameters--parameter(class=`${select} ${parameters}`)
      .jhipster-module-parameters--parameter-key(class=`${select} ${parameters}`) baseName
      .jhipster-module-parameters--parameter-value(class=`${select} ${parameters}`)
